h1 {
    background-color: #E7FBFB;
    font-size: 4em;
    text-align: center;
    color: #010b5b;
} 
div.container {
  text-align: center;
  padding: 10px 20px;
}
footer {
  text-decoration-color: dodgerblue;
}